* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	outline: none;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 16px;
	white-space: nowrap;
	color: rgba(0,0,0,.87);
	background-color: #eee;
}

/* Layout
=========================================== */

/* Clearfix */

.clearfix:before,
.clearfix:after {
	content: " ";
    display: table;
}

.clearfix:after {
	clear: both;
}

/* Container */

.container {
	width: 100%;
	max-width: 296px;
	min-width: 224px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 8px;
	position: relative;
}

/* Pull */

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/* Padding */

.padding-modal {
	padding: 16px;
}

.padding-wrap {
	padding: 8px 16px;
}

@media (max-width: 240px) {
	.padding-wrap {
		padding: 8px;
	}
}

.padding-left-small {
	padding-left: 4px;
}

.padding-left-large {
	padding-left: 4px;
}

@media (max-width: 240px) {
	.padding-left-large {
		padding-left: 4px;
	}
}

.padding-top-bottom-small {
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Margin */

.margin-top-small {
	margin-top: 8px;
}

.margin-right-small {
	margin-right: 8px;
}

.margin-left-small {
	margin-left: 8px;
}

.margin-bottom {
	margin-bottom: 16px;
}

.margin-wrap {
	margin: 16px 0;
}

.margin-wrap-minus {
	margin-left: -16px;
	margin-right: -16px;
}

@media (max-width: 240px) {
	.margin-wrap-minus {
		margin-left: -8px;
		margin-right: -8px;
	}
}

.margin-top-extra {
	margin-top: 24px;
}

/* Shadow */

.shadow {
	box-shadow: 0 1.5px 1.5px rgba(0,0,0,.16);
}

.shadow-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,.23);
}

.shadow-3 {
	box-shadow: 0 4px 4px rgba(0,0,0,.24);
}

.no-boxshadow .shadow,
.no-boxshadow .shadow-2,
.no-boxshadow .shadow-3 {
	border: 1px solid #e5e5e5;
}

/* Display */

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

/* Position */
.fixed-top {
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 1;
}

.fixed-bottom {
	position: fixed !important;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

.fixed-top-right {
	position: fixed !important;
	top: 0;
	right: 0;
	z-index: 1;
}

.fixed-center {
	position: fixed;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.no-csstransforms .fixed-center {
	margin-left: -140px;
	margin-top: -70px;
}

/* Grid */

.layout-grid-small {
	position: relative;
	padding-left: 40px;
}

.layout-grid-item {
	position: absolute;
	left: 0;
	top: 0;
}

/* Border */

.border-bottom {
	position: relative;
}

.border-bottom:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,.12);
}

.border-top {
	position: relative;
}

.border-top:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,.26);
}

/* Elements
=========================================== */
hr {
	border: none;
	height: 1px;
	background: rgba(0,0,0,.12);
}

/* Form */
.form-control {
	background: #f8f8f8;
	border: 1px solid rgba(0,0,0,.12);
	height: 32px;
	line-height: 32px;
	padding: 0 8px;
	font-family: 'courier new', monospace;
}

.form-group {
	position: relative;
}

.form-group label {
	display: block;
	margin-bottom: 8px;
}

.form-group .form-control {
	width: 100%;
}

.form-group .btn {
	position: absolute;
	right: 0;
}

.form-inline .form-control {
	width: 40px;
}


/* Button */
.btn {
	border: none;
	padding: 8px 16px;
	text-transform: uppercase;
	cursor: pointer;
}

.btn-line {
	border: 1px solid rgba(0,0,0,.12);
	background: #fff;
}

.btn-copy {
	width: 32px;
	height: 32px;
	padding: 0;
	background: url(http://placehold.it/24) no-repeat center;
}

.btn-close {
	display: inline-block;
	font-weight: 500;
	padding: 0 12px;
	height: 32px;
	line-height: 32px;
	text-transform: uppercase;
}

/* Text align */

.text-center {
	text-align: center;
}

/* Text size */

.title {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	color: rgba(0,0,0,.87);
}

.text-extra {
	font-size: 32px;
	line-height: 32px;
	font-weight: 300;
}

.text-large {
	font-size: 16px;
}

.text-normal {
	font-size: 14px;
}

.text-small {
	font-size: 11px;
	line-height: 16px;
}

/* Text color */

.text-dark-trans {
	color: rgba(0,0,0,.54);
}

.text-white-trans {
	color: rgba(255,255,255,.54);
}

.text-income {
	color: #2baf2b;
}

.text-expense {
	color: #e51c23;
}

/* Align */

.align-top {
	vertical-align: top;
}

.align-middle {
	vertical-align: middle;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* Image */
.img-base {
	width: 32px;
	height: 32px;
	line-height: 32px;
}

/* Link */
a {
	color: rgba(0,0,0,.87);
	text-decoration: none;
}

.underline {
	border-bottom: 1px solid rgba(0,0,0,.54);
}


/* Pagarap */
p {
	margin-bottom: 8px;
	margin-top: 0;
}

/* List */

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Background */

.bg-primary {
	background: #2baf2b;
	color: #fff;
}

.bg-white {
	background: #fff;
	color: rgba(0,0,0,.87);
}

.bg-gray {
	background: #e5e5e5;
	color: rgba(0,0,0,.54);
}

.radius-small {
	border-radius: 2px;
}

/* Hover */
.change-bg-gray:hover {
	background: #F2F2F2;
}

/* Components
=========================================== */

/* more options */
.more-options {
	width: 40px;
	height: 48px;
	background: url(../img/ic_more_option.png) no-repeat center;
	cursor: pointer;
}

.dropdown {
	visibility: hidden;
	top: 4px;
	right: 4px;
	position: absolute;
}

.open .dropdown {
	visibility: visible;
}

/* Content */
.content {
	padding-bottom: 34px;
}

/* Cart */
.card:first-child {
	margin-top: 64px;
}

/*.card .detail:hover {
	background: #F2F2F2;
	cursor: pointer;
}*/

/*.card {
	background: #fff;
	padding: 8px 16px;
	margin: 16px 0;
}

.card .date {
	font-size: 32px;
	line-height: 32px;
	float: left;
}

.day,
.month-year {
	display: block;
}*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.note {
	padding-top:2px;
}

/*************** EDIT BY LIGHTSBEE (08/12/2016) **********************/
.bigAmount {
	position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.smallAmount {
	padding-right: 4px
}

.make-text-fit {
	overflow: hidden;
    white-space: nowrap;
    width: 210px;
    text-overflow: ellipsis;
}